{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <menu>
            <li><button id="dialog-open">Account</button></li>
            <li><a href="/logout"><button>Logout</button></a></li>
        </menu>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive-sm">
                <br>
                <form id="host-form" hx-post="/hosts/lease" hx-target="body">
                    <fieldset>
                        <legend>Available hosts</legend>
                        <fieldset>
                            <legend>Select lease period</legend>
                            <label for="days">Days:</label>
                            <input type="number" id="days" name="days" min="0" max="62" value="0">
                            <label for="days">Hours:</label>
                            <input type="number" id="hours" name="hours" min="0" max="23" value="1">
                        </fieldset>
                        <button type="submit">Lease selected</button>
                        <button hx-validate="true" hx-post="/hosts/lease/random">Lease random</button>
                        <br>
                        {% for host in hosts %}
                        <input type="checkbox" id="{{host.id}}" name="hosts_ids" value="{{host.id}}">
                        <label for="{{host.id}}"> {{host.ip_address}} ({{host.hostname}}) </label><br>
                        {% endfor %}
                    </fieldset>
                </form>
                <br>
                <form hx-post="/hosts/release" hx-target="body">
                    <fieldset>
                        <legend>Your leased hosts</legend>
                        <button type="submit">Release selected</button>
                        <button hx-post="/hosts/release/all" hx-include="" hx-confirm="Are you sure?">Release
                            all</button>
                        <br>
                        {% for host in leased %}
                        <input type="checkbox" id="{{host.id}}" name="hosts_ids" value="{{host.id}}">
                        <label for="{{host.id}}"> {{host.ip_address}} ({{host.hostname}}) (until expiration: <time
                                datetime="{{host.leased_until}}"> {{host.valid_for}}</time>)
                        </label><br>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<dialog>
    <fieldset>
        <legend>Account</legend>
        <p> Login: {{user.login}} </p>
        <p> Telegram linked: {{user.tg_linked}} </p>
        <p>To link your account send code "{{user.link}}" to the <a href="{{auth_link}}"
                target="_blank">{{auth_link}}</a></p>
        <br>
        <button id="dialog-close" autofocus>Close</button>
</dialog>
<script>
    const dialog = document.querySelector("dialog");
    const showButton = document.getElementById("dialog-open");
    const closeButton = document.getElementById("dialog-close");

    showButton.addEventListener("click", () => {
        dialog.showModal();
    });

    closeButton.addEventListener("click", () => {
        dialog.close();
    });
</script>
<style>
    menu {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin-bottom: 0;
        gap: 1em;
    }
</style>
{% endblock content %}