{% extends "base.html" %}

{% block content %}

<div
    class="relative bg-transparent min-h-screen flex flex-col overflow-hidden py-6 sm:py-12 text-gray-900 dark:text-gray-200">
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 px-8 text-gray-900 dark:text-gray-200" aria-label="Global">
            <div class="flex gap-x-12">
                <a href="/hosts" class="text-sm font-semibold leading-6">Lease hosts</a>
                <a href="/hosts/all" class="text-sm font-semibold leading-6">All hosts</a>
            </div>
            <div class="flex gap-x-12 justify-end">
                <button><a id="account-dialog-open" class="text-sm font-semibold leading-6">Account</a></button>
                <a href="/logout" class="text-sm font-semibold leading-6">Logout</a>
            </div>
        </nav>
    </header>
    {{page}}
    <div class="fixed bottom-0 left-0 right-0 mx-auto w-fit text-gray-400 dark:text-gray-600">Version: {{ app_info.version }}</div>
</div>
<dialog id="account-dialog">
    <div class="bg-white dark:bg-slate-800 text-gray-900 dark:text-gray-200">
        <fieldset class="space-y-6 rounded-xl bg-black/5 dark:bg-white/5 p-6 sm:p-10">
            <p class="text-base/7 font-semibold">Account</p>
            <p class="text-sm/6 font-medium"> Login: {{user.login}} </p>
            <p class="text-sm/6 font-medium"> Telegram linked: {{user.tg_linked}} </p>
            <p class="text-sm/6 font-medium">To link your account send code
                "{{user.link}}" to the <a class="text-blue-600 visited:text-purple-600" href="{{auth_link}}" target="_blank">{{auth_link}}</a></p>
            <fieldset class="space-y-1">
                <p class="text-base/7 font-semibold">Groups:</p>
                {% for group in user.groups %}
                <p class="text-sm/6 font-medium"> - "{{group}}" </p>
                {% endfor %}
            </fieldset>
            <br>
            <button id="account-dialog-close"
                class="inline-flex items-center gap-2 rounded-md bg-gray-300 dark:bg-gray-700 py-1.5 px-3 text-sm/6 font-semibold shadow-inner shadow-white/10"
                autofocus>Close</button>
        </fieldset>
    </div>
</dialog>
<script>
    const accountDialog = document.getElementById("account-dialog");
    document.getElementById("account-dialog-open").addEventListener("click", () => {
        accountDialog.showModal();
    });

    document.getElementById("account-dialog-close").addEventListener("click", () => {
        accountDialog.close();
    });
</script>
{% endblock content %}
