<div class="container">
    <div class="row">
        <menu>
            <li>Selected group "{{ selected_group.name }}"</li>
            <li><button id="groups-dialog-open">View all groups</button></a></li>
        </menu>
    </div>
    {% if let Some(error) = error %}
    <p style="color:red;"><i>{{error}}</i></p>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="table-responsive-sm">
                <br>
                <form id="host-form" hx-post="/hosts/lease" hx-target="body">
                    <fieldset>
                        <legend>Available hosts</legend>
                        <fieldset>
                            <legend>Select lease period</legend>
                            <label for="days">Days:</label>
                            <input type="number" id="days" name="days" min="0" max="62" value="0">
                            <label for="days">Hours:</label>
                            <input type="number" id="hours" name="hours" min="0" max="23" value="1">
                        </fieldset>
                        <button type="submit">Lease selected</button>
                        <button hx-validate="true" hx-post="/hosts/lease/random">Lease random</button>
                        <br>
                        {% for host in hosts %}
                        <input type="checkbox" id="{{host.id}}" name="hosts_ids" value="{{host.id}}">
                        <label for="{{host.id}}"> <a href="http://{{ host.ip_address }}"
                                target="_blank">{{host.ip_address}}</a> ({{host.hostname}}) </label><br>
                        {% endfor %}
                    </fieldset>
                </form>
                <br>
                <form hx-post="/hosts/release" hx-target="body">
                    <fieldset>
                        <legend>Your leased hosts</legend>
                        <button type="submit">Release selected</button>
                        <button hx-post="/hosts/release/all" hx-include="" hx-confirm="Are you sure?">Release
                            all</button>
                        <br>
                        {% for host in leased %}
                        <input type="checkbox" id="{{host.id}}" name="hosts_ids" value="{{host.id}}">
                        <label for="{{host.id}}"> <a href="http://{{ host.ip_address }}"
                                target="_blank">{{host.ip_address}}</a> ({{host.hostname}}) (until expiration: <time
                                datetime="{{host.leased_until}}"> {{host.valid_for}}</time>)
                        </label><br>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<dialog id="groups-dialog">
    <fieldset>
        <legend>Groups</legend>

        <table>
            {% for group in groups %}
            <tr>
                <th>{{ group.name }}</th>
                <th><button onclick="location.href='/hosts?group_id={{group.id}}'" type="button">Select</button></th>
            </tr>
            {% endfor %}
        </table>
        <button id="groups-dialog-close" autofocus>Close</button>
</dialog>
<script>
    const groupsDialog = document.getElementById("groups-dialog");
    document.getElementById("groups-dialog-open").addEventListener("click", () => {
        groupsDialog.showModal();
    });

    document.getElementById("groups-dialog-close").addEventListener("click", () => {
        groupsDialog.close();
    });
</script>
<style>
    menu {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin-bottom: 0;
        gap: 1em;
    }

    td,
    th {
        text-align: left;
        padding: 8px;
    }
</style>